.card {
    position: relative;
    width: 180px;
    height: 250px;
    padding: 1px;
    margin: 15px;
    border: 2px solid #1f1f1f;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    font-family: 'Arial', sans-serif;
    flex-shrink: 0;
}

@font-face {
    font-family: "fontCardName";
    src: url(/assets/font/MADE\ Sunflower\ PERSONAL\ USE.otf);
}

@font-face {
    font-family: "fontHp";
    src: url(/assets/font/DIMITRI_.TTF);
}

@font-face {
    font-family: "fontSpan";
    src: url(/assets/font/DIMIS___.TTF);
}

.card span.name {
    font-family: "fontCardName";
    font-size: 24px;
    font-weight: bold;
    text-shadow: rgb(40, 40, 40) 4px 0px 0px, rgb(40, 40, 40) 3.87565px 0.989616px 0px, rgb(40, 40, 40) 3.51033px 1.9177px 0px, rgb(40, 40, 40) 2.92676px 2.72656px 0px, rgb(40, 40, 40) 2.16121px 3.36588px 0px, rgb(40, 40, 40) 1.26129px 3.79594px 0px, rgb(40, 40, 40) 0.282949px 3.98998px 0px, rgb(40, 40, 40) -0.712984px 3.93594px 0px, rgb(40, 40, 40) -1.66459px 3.63719px 0px, rgb(40, 40, 40) -2.51269px 3.11229px 0px, rgb(40, 40, 40) -3.20457px 2.39389px 0px, rgb(40, 40, 40) -3.69721px 1.52664px 0px, rgb(40, 40, 40) -3.95997px 0.56448px 0px, rgb(40, 40, 40) -3.97652px -0.432781px 0px, rgb(40, 40, 40) -3.74583px -1.40313px 0px, rgb(40, 40, 40) -3.28224px -2.28625px 0px, rgb(40, 40, 40) -2.61457px -3.02721px 0px, rgb(40, 40, 40) -1.78435px -3.57996px 0px, rgb(40, 40, 40) -0.843183px -3.91012px 0px, rgb(40, 40, 40) 0.150409px -3.99717px 0px, rgb(40, 40, 40) 1.13465px -3.8357px 0px, rgb(40, 40, 40) 2.04834px -3.43574px 0px, rgb(40, 40, 40) 2.83468px -2.82216px 0px, rgb(40, 40, 40) 3.44477px -2.03312px 0px, rgb(40, 40, 40) 3.84068px -1.11766px 0px, rgb(40, 40, 40) 3.9978px -0.132717px 0px;
}

.card .card-actions button {
    margin-top: 10px;
    padding: 5px 10px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background: #ffd000ce;
    color: #000;
    cursor: pointer;
    font-size: 0.8rem;
    width: 100%;
}

.card .card-actions button:hover {
    background: #ffc400;
}

.card:hover {
    transform: scale(1.1);
    /* Ingrossa leggermente la carta al passaggio del mouse */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.219);
    /* Maggiore ombra durante hover */
    perspective: 1000px;
}

/* Stile per i paragrafi (contenuti della carta) */
.card p {
    font-size: 0.9rem;
    /* Dimensione del testo */
    color: #555;
    /* Colore del testo leggermente più chiaro */
    margin: 8px 0;
    /* Distanza tra i paragrafi */
}

.card span.hp {
    font-family: "fontHp";
    text-shadow: rgb(40, 40, 40) 2px 0px 0px, rgb(40, 40, 40) 1.75517px 0.958851px 0px, rgb(40, 40, 40) 1.0806px 1.68294px 0px, rgb(40, 40, 40) 0.141474px 1.99499px 0px, rgb(40, 40, 40) -0.832294px 1.81859px 0px, rgb(40, 40, 40) -1.60229px 1.19694px 0px, rgb(40, 40, 40) -1.97999px 0.28224px 0px, rgb(40, 40, 40) -1.87291px -0.701566px 0px, rgb(40, 40, 40) -1.30729px -1.51361px 0px, rgb(40, 40, 40) -0.421592px -1.95506px 0px, rgb(40, 40, 40) 0.567324px -1.91785px 0px, rgb(40, 40, 40) 1.41734px -1.41108px 0px, rgb(40, 40, 40) 1.92034px -0.558831px 0px;
}

/* Stile specifico per le informazioni sui danni */
.card span.damage {
    margin-top: 50px;
    font-family: "fontSpan";
    text-shadow: rgb(40, 40, 40) 2px 0px 0px, rgb(40, 40, 40) 1.75517px 0.958851px 0px, rgb(40, 40, 40) 1.0806px 1.68294px 0px, rgb(40, 40, 40) 0.141474px 1.99499px 0px, rgb(40, 40, 40) -0.832294px 1.81859px 0px, rgb(40, 40, 40) -1.60229px 1.19694px 0px, rgb(40, 40, 40) -1.97999px 0.28224px 0px, rgb(40, 40, 40) -1.87291px -0.701566px 0px, rgb(40, 40, 40) -1.30729px -1.51361px 0px, rgb(40, 40, 40) -0.421592px -1.95506px 0px, rgb(40, 40, 40) 0.567324px -1.91785px 0px, rgb(40, 40, 40) 1.41734px -1.41108px 0px, rgb(40, 40, 40) 1.92034px -0.558831px 0px;
}

/* Stile per le informazioni sul tipo di frutto */
.card span.fruitType {
    font-family: "fontSpan";
    text-shadow: rgb(40, 40, 40) 2px 0px 0px, rgb(40, 40, 40) 1.75517px 0.958851px 0px, rgb(40, 40, 40) 1.0806px 1.68294px 0px, rgb(40, 40, 40) 0.141474px 1.99499px 0px, rgb(40, 40, 40) -0.832294px 1.81859px 0px, rgb(40, 40, 40) -1.60229px 1.19694px 0px, rgb(40, 40, 40) -1.97999px 0.28224px 0px, rgb(40, 40, 40) -1.87291px -0.701566px 0px, rgb(40, 40, 40) -1.30729px -1.51361px 0px, rgb(40, 40, 40) -0.421592px -1.95506px 0px, rgb(40, 40, 40) 0.567324px -1.91785px 0px, rgb(40, 40, 40) 1.41734px -1.41108px 0px, rgb(40, 40, 40) 1.92034px -0.558831px 0px;
}

/* Stile per le informazioni sull'isola */
.card span.preferredIsland {
    font-family: "fontSpan";
    text-shadow: rgb(40, 40, 40) 2px 0px 0px, rgb(40, 40, 40) 1.75517px 0.958851px 0px, rgb(40, 40, 40) 1.0806px 1.68294px 0px, rgb(40, 40, 40) 0.141474px 1.99499px 0px, rgb(40, 40, 40) -0.832294px 1.81859px 0px, rgb(40, 40, 40) -1.60229px 1.19694px 0px, rgb(40, 40, 40) -1.97999px 0.28224px 0px, rgb(40, 40, 40) -1.87291px -0.701566px 0px, rgb(40, 40, 40) -1.30729px -1.51361px 0px, rgb(40, 40, 40) -0.421592px -1.95506px 0px, rgb(40, 40, 40) 0.567324px -1.91785px 0px, rgb(40, 40, 40) 1.41734px -1.41108px 0px, rgb(40, 40, 40) 1.92034px -0.558831px 0px;
}

/* Stile per i titoli di sezione (haki, special moves) */
.card span.haki, span.specialMove {
    font-family: "fontSpan";
    text-shadow: rgb(40, 40, 40) 2px 0px 0px, rgb(40, 40, 40) 1.75517px 0.958851px 0px, rgb(40, 40, 40) 1.0806px 1.68294px 0px, rgb(40, 40, 40) 0.141474px 1.99499px 0px, rgb(40, 40, 40) -0.832294px 1.81859px 0px, rgb(40, 40, 40) -1.60229px 1.19694px 0px, rgb(40, 40, 40) -1.97999px 0.28224px 0px, rgb(40, 40, 40) -1.87291px -0.701566px 0px, rgb(40, 40, 40) -1.30729px -1.51361px 0px, rgb(40, 40, 40) -0.421592px -1.95506px 0px, rgb(40, 40, 40) 0.567324px -1.91785px 0px, rgb(40, 40, 40) 1.41734px -1.41108px 0px, rgb(40, 40, 40) 1.92034px -0.558831px 0px;
}

.card-list {
    display: flex;
    margin-bottom: 100px;
    height: 400px;
    overflow-x: scroll;
    gap: 10px;
    background: url(/assets/wood-2045380_1280.jpg);
}

.card-actions {
    display: flex;
    position: absolute;
    /* Cambia da fixed a absolute */
    bottom: 0;
    width: 100%;
    gap: 1px;
}

/* Effetto per la carta selezionata */
.card.selected {
    border: 2px solid #FFD700;
    /* Aggiunge un bordo dorato alla carta selezionata */
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.8);
    /* Aggiunge un'ombra dorata */
}

/* Stile per le carte draggabili */
.draggable-card {
    cursor: move;
    /* Cambia il cursore per far vedere che è una carta che può essere trascinata */
}

/* Disabilita i bottoni per la carta deselezionata */
.card-actions button {
    pointer-events: none;
    /* Disabilita il click sui bottoni inizialmente */
    opacity: 0.5;
    /* Rende i bottoni meno visibili quando disabilitati */
}

/* Abilita i bottoni per la carta selezionata */
.card.selected .card-actions button {
    pointer-events: auto;
    /* Rende i bottoni cliccabili */
    opacity: 1;
    /* Restituisce la visibilità normale */
}

.disabled {
    opacity: 0.5;
    /* Cambia l'opacità della carta disabilitata */
    pointer-events: none;
    /* Impedisce ulteriori clic sulla carta */
}

.hidden {
    opacity: 0.3;
    /* Abbassa la visibilità della carta */
    pointer-events: none;
    /* Impedisce l'interazione con la carta */
}

@media (max-width: 600px) {
    .card {
        margin: 5px;
    }

    .card span {
        font-size: 1.2rem;
        /* Riduci leggermente la dimensione del titolo */
    }

    .card span.damage, span.preferredIsland, span.fruitType {
        font-size: 0.7rem;
        /* Riduci leggermente la dimensione del testo */
    }

    .card-list {
        height: auto;
        /* Permetti alla lista di adattarsi al contenuto */
    }

    .card .haki-button,
    .card .special-move-button {
        font-size: 10px;
    }
}