/* Sezione delle isole */
.islands {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-items: center;
    margin: 20px auto;
}

/* Stile per ogni isola */
.island {
    width: 100%;
    max-width: 800px;
    height: 200px;
    margin: 10px 0;
    background:url(/assets/grass-855890_1280.jpg);
    border: 3px dashed #4b2e0e;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: #eeeeee;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.island-name {
    margin-bottom: 10px;
    font-weight: bold;
}

/* Contenitore per i pallini delle vite */
.island-lives {
    display: flex;
    gap: 10px;
}

/* Stile per i pallini delle vite */
.life-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: gray;
    border: 2px solid #4b2e0e;
}

/* Evidenziazione delle isole durante il drag */
.island.highlight {
    background-color: rgba(67, 85, 67, 0.2);
    border: 2px dashed white;
}

.island:hover {
    border: 2px dashed white;
    transition: 0.3s;
}

@media (max-width: 600px) {
    .islands {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .island {
        height: auto;
        padding: 20px;
        font-size: 0.875rem;
    }

    .island-lives {
        justify-content: center;
    }
}