/* Sezione delle isole */
.islands {
    display: grid;
    gap: 50px;
}

.island {
    width: 600px;
    height: 200px;
    margin: 10px auto;
    background-color: #e6d5b8;
    border: 3px dashed #4b2e0e;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: #4b2e0e;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Stile per le carte draggabili */
.draggable-card {
    cursor: move; /* Cambia il cursore per far vedere che è una carta che può essere trascinata */
}

/* Evidenziazione delle isole durante il drag */
.island.highlight {
    background-color: rgba(0, 255, 0, 0.2);  /* Cambia il colore come desideri */
    border: 2px dashed green;  /* Aggiungi un bordo per l'evidenziazione */
}

.island:hover {
    background-color: #d9b77c;
    transition: 0.3s;
}