/* Stile generale del corpo */
body {
    font-family: 'Pirata One', cursive;
    /* Usa un font a tema pirati */
    background: radial-gradient(circle, hsla(41, 70%, 86%, 1) 0%, hsla(41, 30%, 68%, 1) 100%);
    color: #4b2e0e;
    margin: 0;
    padding: 0;
    text-align: center;
}

.game-container {
    background: url(/assets/aesthetic-blue-watercolor-background-abstract-style.jpg);
}

/* Titoli principali */
h1 {
    font-size: 3rem;
    margin-top: 20px;
    color: #eeeeee;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 2rem;
    color: #eeeeee;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

#current-player,
h3 {
    color: #eeeeee;
}

.red {
    color: red;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.blue {
    color: blue;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

/* Container delle carte */
#player1-cards,
#player2-cards,
#player1-deck,
#player2-deck {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 20px;
    background: url(/assets/wood-2045380_1280.jpg);
    ;
    border: 2px solid #4b2e0e;
    border-radius: 15px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Pulsante */
button {
    font-size: 1.2rem;
    padding: 10px 20px;
    background-color: #d48a38;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

button:hover {
    background-color: #bf7026;
}

button.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}

.error-message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    z-index: 1000;
}

.add-to-team,
.remove-card-btn {
    margin-top: 10px;
    font-size: 14px;
}

.turn-info {
    background-color: #5a3d1956;
    background-size: cover;
    background-position: center;
    margin: 0px 100px;
    border-radius: 25px;
}

#end-turn-1,
#end-turn-2 {
    font-size: smaller;
    margin-bottom: 20px;
}

.disabled {
    pointer-events: none;
    /* Disabilita clic e interazioni */
    opacity: 0.5;
    /* Riduce l'opacità per indicare che è disabilitato */
    cursor: not-allowed;
    /* Cambia il cursore per indicare che è disabilitato */
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 800px;
    height: 400px;
    margin: 150px auto;
    padding: 10px;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
    ;
    border-radius: 15px;
    border: 2px solid rgb(41, 41, 41);
}

.carousel-inner {
    display: flex;
    animation: scroll 180s linear infinite;
    justify-content: center;
    align-items: center;
}

.carousel-item {
    position: relative;
    /* Aggiungi questa riga */
    width: 180px;
    height: 250px;
    padding: 1px;
    margin: 25px;
    border: 2px solid #1f1f1f;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    font-family: 'Arial', sans-serif;
    flex-shrink: 0;
}

.carousel-item .card-actions {
    display: flex;
    position: absolute;
    /* Cambia da fixed a absolute */
    bottom: 0;
    width: 100%;
    gap: 1px;
}

.carousel-item .card-actions button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background: #ffcc003b;
    color: white;
    cursor: pointer;
    font-size: 0.9rem;
}

.carousel-item .card-actions button:hover {
    background: #ffba2fd2;
}

.carousel-item:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.219);
    /* Maggiore ombra durante hover */
    perspective: 1000px;
}

.carousel-item span.haki,
span.damage,
span.fruitType,
span.preferredIsland,
span.specialMove {
    display: flex;
    color: rgb(228, 228, 228);
    line-height: 0.8;
}

.carousel-item span.hp {
    font-family: "fontSpan";
    text-shadow: rgb(40, 40, 40) 1px 0px 0px, rgb(40, 40, 40) 1.75517px 0.958851px 0px, rgb(40, 40, 40) 1.0806px 1.68294px 0px, rgb(40, 40, 40) 0.141474px 1.99499px 0px, rgb(40, 40, 40) -0.832294px 1.81859px 0px, rgb(40, 40, 40) -1.60229px 1.19694px 0px, rgb(40, 40, 40) -1.97999px 0.28224px 0px, rgb(40, 40, 40) -1.87291px -0.701566px 0px, rgb(40, 40, 40) -1.30729px -1.51361px 0px, rgb(40, 40, 40) -0.421592px -1.95506px 0px, rgb(40, 40, 40) 0.567324px -1.91785px 0px, rgb(40, 40, 40) 1.41734px -1.41108px 0px, rgb(40, 40, 40) 1.92034px -0.558831px 0px;
}

.carousel-item span.haki {
    font-family: "fontSpan";
    text-shadow: rgb(40, 40, 40) 1px 0px 0px, rgb(40, 40, 40) 1.75517px 0.958851px 0px, rgb(40, 40, 40) 1.0806px 1.68294px 0px, rgb(40, 40, 40) 0.141474px 1.99499px 0px, rgb(40, 40, 40) -0.832294px 1.81859px 0px, rgb(40, 40, 40) -1.60229px 1.19694px 0px, rgb(40, 40, 40) -1.97999px 0.28224px 0px, rgb(40, 40, 40) -1.87291px -0.701566px 0px, rgb(40, 40, 40) -1.30729px -1.51361px 0px, rgb(40, 40, 40) -0.421592px -1.95506px 0px, rgb(40, 40, 40) 0.567324px -1.91785px 0px, rgb(40, 40, 40) 1.41734px -1.41108px 0px, rgb(40, 40, 40) 1.92034px -0.558831px 0px;
}

/* Stile specifico per le informazioni sui danni */
.carousel-item span.damage {
    font-family: "fontSpan";
    margin-top: 50px;
    text-shadow: rgb(40, 40, 40) 1px 0px 0px, rgb(40, 40, 40) 1.75517px 0.958851px 0px, rgb(40, 40, 40) 1.0806px 1.68294px 0px, rgb(40, 40, 40) 0.141474px 1.99499px 0px, rgb(40, 40, 40) -0.832294px 1.81859px 0px, rgb(40, 40, 40) -1.60229px 1.19694px 0px, rgb(40, 40, 40) -1.97999px 0.28224px 0px, rgb(40, 40, 40) -1.87291px -0.701566px 0px, rgb(40, 40, 40) -1.30729px -1.51361px 0px, rgb(40, 40, 40) -0.421592px -1.95506px 0px, rgb(40, 40, 40) 0.567324px -1.91785px 0px, rgb(40, 40, 40) 1.41734px -1.41108px 0px, rgb(40, 40, 40) 1.92034px -0.558831px 0px;
}

/* Stile per le informazioni sul tipo di frutto */
.carousel-item span.fruitType {
    font-family: "fontSpan";
    text-shadow: rgb(40, 40, 40) 1px 0px 0px, rgb(40, 40, 40) 1.75517px 0.958851px 0px, rgb(40, 40, 40) 1.0806px 1.68294px 0px, rgb(40, 40, 40) 0.141474px 1.99499px 0px, rgb(40, 40, 40) -0.832294px 1.81859px 0px, rgb(40, 40, 40) -1.60229px 1.19694px 0px, rgb(40, 40, 40) -1.97999px 0.28224px 0px, rgb(40, 40, 40) -1.87291px -0.701566px 0px, rgb(40, 40, 40) -1.30729px -1.51361px 0px, rgb(40, 40, 40) -0.421592px -1.95506px 0px, rgb(40, 40, 40) 0.567324px -1.91785px 0px, rgb(40, 40, 40) 1.41734px -1.41108px 0px, rgb(40, 40, 40) 1.92034px -0.558831px 0px;
}

/* Stile per le informazioni sull'isola */
.carousel-item span.preferredIsland {
    font-family: "fontSpan";
    text-shadow: rgb(40, 40, 40) 1px 0px 0px, rgb(40, 40, 40) 1.75517px 0.958851px 0px, rgb(40, 40, 40) 1.0806px 1.68294px 0px, rgb(40, 40, 40) 0.141474px 1.99499px 0px, rgb(40, 40, 40) -0.832294px 1.81859px 0px, rgb(40, 40, 40) -1.60229px 1.19694px 0px, rgb(40, 40, 40) -1.97999px 0.28224px 0px, rgb(40, 40, 40) -1.87291px -0.701566px 0px, rgb(40, 40, 40) -1.30729px -1.51361px 0px, rgb(40, 40, 40) -0.421592px -1.95506px 0px, rgb(40, 40, 40) 0.567324px -1.91785px 0px, rgb(40, 40, 40) 1.41734px -1.41108px 0px, rgb(40, 40, 40) 1.92034px -0.558831px 0px;
}

/* Stile per i titoli di sezione (haki, special moves) */
.carousel-item span.specialMove {
    font-family: "fontSpan";
    text-shadow: rgb(40, 40, 40) 1px 0px 0px, rgb(40, 40, 40) 1.75517px 0.958851px 0px, rgb(40, 40, 40) 1.0806px 1.68294px 0px, rgb(40, 40, 40) 0.141474px 1.99499px 0px, rgb(40, 40, 40) -0.832294px 1.81859px 0px, rgb(40, 40, 40) -1.60229px 1.19694px 0px, rgb(40, 40, 40) -1.97999px 0.28224px 0px, rgb(40, 40, 40) -1.87291px -0.701566px 0px, rgb(40, 40, 40) -1.30729px -1.51361px 0px, rgb(40, 40, 40) -0.421592px -1.95506px 0px, rgb(40, 40, 40) 0.567324px -1.91785px 0px, rgb(40, 40, 40) 1.41734px -1.41108px 0px, rgb(40, 40, 40) 1.92034px -0.558831px 0px;
}

@font-face {
    font-family: "fontCardName";
    src: url(/assets/font/MADE\ Sunflower\ PERSONAL\ USE.otf);
}

@font-face {
    font-family: "fontLabel";
    src: url(/assets/font/DIMIS___.TTF);
}

@font-face {
    font-family: "fontSpan";
    src: url(/assets/font/DIMITRI_.TTF);
}

.carousel-item span.name {
    font-family: "fontCardName";
    font-size: 24px;
    font-weight: bold;
    text-shadow: rgb(40, 40, 40) 4px 0px 0px, rgb(40, 40, 40) 3.87565px 0.989616px 0px, rgb(40, 40, 40) 3.51033px 1.9177px 0px, rgb(40, 40, 40) 2.92676px 2.72656px 0px, rgb(40, 40, 40) 2.16121px 3.36588px 0px, rgb(40, 40, 40) 1.26129px 3.79594px 0px, rgb(40, 40, 40) 0.282949px 3.98998px 0px, rgb(40, 40, 40) -0.712984px 3.93594px 0px, rgb(40, 40, 40) -1.66459px 3.63719px 0px, rgb(40, 40, 40) -2.51269px 3.11229px 0px, rgb(40, 40, 40) -3.20457px 2.39389px 0px, rgb(40, 40, 40) -3.69721px 1.52664px 0px, rgb(40, 40, 40) -3.95997px 0.56448px 0px, rgb(40, 40, 40) -3.97652px -0.432781px 0px, rgb(40, 40, 40) -3.74583px -1.40313px 0px, rgb(40, 40, 40) -3.28224px -2.28625px 0px, rgb(40, 40, 40) -2.61457px -3.02721px 0px, rgb(40, 40, 40) -1.78435px -3.57996px 0px, rgb(40, 40, 40) -0.843183px -3.91012px 0px, rgb(40, 40, 40) 0.150409px -3.99717px 0px, rgb(40, 40, 40) 1.13465px -3.8357px 0px, rgb(40, 40, 40) 2.04834px -3.43574px 0px, rgb(40, 40, 40) 2.83468px -2.82216px 0px, rgb(40, 40, 40) 3.44477px -2.03312px 0px, rgb(40, 40, 40) 3.84068px -1.11766px 0px, rgb(40, 40, 40) 3.9978px -0.132717px 0px;
}

.carousel-item label {
    font-family: "fontLabel";
    font-size: 0.8rem;
    text-shadow: rgb(40, 40, 40) 1px 0px 0px, rgb(40, 40, 40) 1.75517px 0.958851px 0px, rgb(40, 40, 40) 1.0806px 1.68294px 0px, rgb(40, 40, 40) 0.141474px 1.99499px 0px, rgb(40, 40, 40) -0.832294px 1.81859px 0px, rgb(40, 40, 40) -1.60229px 1.19694px 0px, rgb(40, 40, 40) -1.97999px 0.28224px 0px, rgb(40, 40, 40) -1.87291px -0.701566px 0px, rgb(40, 40, 40) -1.30729px -1.51361px 0px, rgb(40, 40, 40) -0.421592px -1.95506px 0px, rgb(40, 40, 40) 0.567324px -1.91785px 0px, rgb(40, 40, 40) 1.41734px -1.41108px 0px, rgb(40, 40, 40) 1.92034px -0.558831px 0px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-300px * 50));
    }
}

@media (max-width: 600px) {
    body {
        font-size: 1rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    #player1-cards,
    #player2-cards,
    #player1-deck,
    #player2-deck {
        overflow-x: scroll;
        align-items: center;
        padding: 10px;
        margin: 10px;
    }

    button {
        font-size: 1rem;
        padding: 8px 16px;
    }

    .turn-info {
        margin: 0 20px;
    }

    .carousel {
        max-width: 100%;
    }
}