body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.turn-info {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 20px;
}

.player-area {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 10px;
}

.card {
    width: 120px;
    height: 180px;
    background-color: #fff;
    border: 2px solid #2d87f0;
    /* Azzurro per il bordo */
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    /* Angoli arrotondati */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    /* Effetto di zoom */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    /* Ombra per effetto hover */
}

.card.selected {
    background-color: #4CAF50;
    /* Colore di sfondo per le carte selezionate */
    color: white;
    /* Testo bianco per le carte selezionate */
}

.card span {
    font-weight: bold;
}

.card .card-actions {
    margin-top: 10px;
}

.card .card-content {
    padding: 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    /* Trasparenza per il testo */
    color: white;
}

.card .card-actions {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card button {
    padding: 5px;
    font-size: 14px;
    background-color: #28a745;
    /* Verde per il bottone */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card button:hover {
    background-color: #218838;
    /* Verde scuro al passaggio del mouse */
}

.islands {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.island {
    width: 250px;
    height: 160px;
    background-color: #f0f0f0;
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
    /* Angoli arrotondati per le isole */
}

.island.hovered {
    background-color: #d0d0d0;
    /* Colore di sfondo più scuro quando ci si passa sopra */
}

.island.highlight {
    border: 2px dashed #00ff00;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

.card-list {
    display: flex;
    margin-bottom: 100px;
}